#game-content{
    width:100%;
    height:100%;
}

.game-port{
    width:220px;
    height:300px;
    margin-top:250px;
    margin-left:200px;
}

.titulo{
    margin-top:-300px;
    margin-left:-350px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.game-play{
    width: 500px;
    height: 390px;
    margin-top: -60px;
    margin-left:1000px;
}

#descript{
    list-style:none;
    font-size:2em;
    font-weight:bold;
    margin-top:-290px;
    margin-left:470px;
}

span{
    font-size: 0.7em;
    font-weight: lighter;
}

#info-game{
    align-items:center;
    margin-top:200px;
    margin-left:15%;
    width:65%;
    min-height:200px;
    max-height:600px;
}

.text-desc{
    background-color:rgb(15, 14, 14);
    padding:30px 70px 30px 70px;
    text-align: center;
    font-size:1.5em;
}

#requisitos{
    width:80%;
    min-height: 200px;
    max-height: 400px;
    margin-left:10%;
}

.content-req{
    align-items: center;
    margin: 15px;
    display:flex;
    gap:5px;
}

#req-min{
    width: 50%;
}

#req-max{
    width: 50%;
}

.req-list{
    background-color:rgb(15, 14, 14);
    min-height:200px;
    max-height:400px;
    list-style:none;
    font-size: 1.3em;
    font-weight: bold;
}

.req-list>li,h2,.min-list,.max-list{
     background-color:rgb(15, 14, 14);
}

.cont-list{
     font-size: 1em;
}

.min-list, .max-list{
    font-size:0.9em;
    font-weight:lighter;
}


@media(max-width:480px){
    #game-content{
        width:100%;
        height:100%;
    }
    
    .game-port{
        width:160px;
        height:220px;
        margin-top:200px;
        margin-left:150px;
    }
    
    .titulo{
        margin-top:0px;
        margin-left:-40px;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    
    .game-play{
        width: 300px;
        height: 200px;
        margin-top: 100px;
        margin-left:70px;
    }
    
    #descript{
        list-style:none;
        font-size:1em;
        font-weight:bold;
        margin-top:-300px;
        margin-left:150px;
    }
    
    span{
        font-size: 0.7em;
        font-weight: lighter;
    }
    
    #info-game{
        align-items:center;
        margin-top:250px;
        margin-left:15%;
        width:65%;
        min-height:200px;
        max-height:250px;
    }
    
    .text-desc{
        background-color:rgb(15, 14, 14);
        padding:20px 50px 20px 50px;
        text-align: center;
        font-size:1em;
    }
}

@media (min-width:481px) and (max-width:1024){
    #game-content{
        width:100%;
        height:100%;
    }
    
    .game-port{
        width:160px;
        height:220px;
        margin-top:200px;
        margin-left:150px;
    }
    
    .titulo{
        margin-top:-120vp;
        margin-left:-40px;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    
    .game-play{
        width: 300px;
        height: 200px;
        align-items: center;
        margin-top: 0px;
    }
    
    #descript{
        list-style:none;
        font-size:1em;
        font-weight:bold;
        margin-top:-300px;
        margin-left:150px;
    }
    
    span{
        font-size: 0.7em;
        font-weight: lighter;
    }
    
    #info-game{
        align-items:center;
        margin-top:250px;
        margin-left:15%;
        width:65%;
        min-height:200px;
        max-height:250px;
    }
    
    .text-desc{
        background-color:rgb(15, 14, 14);
        padding:20px 50px 20px 50px;
        text-align: center;
        font-size:1em;
    }
}
