#nav_list{
    display:flex;
    justify-content:space-between;
    list-style: none;
    gap: 200px;
}

#home{
    width:65px;
}

.nav_op{
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.nav_op:hover{
    background-color:rgba(195, 192, 192, 0.1);
    border-radius: 10px;
    font-size: 2.2em;
    transition: 0.4s;
}


/*Celulares*/
@media(max-width:480px){
    #nav_list{
        display:flex;
        justify-content:space-between;
        list-style: none;
        gap: 20px;
    }
    
    #home{
        margin-right:-5px;
        margin-left:-5px;
        width:35px;
    }
    
    .nav_op{
        font-size: 0.7em;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
    
    .nav_op:hover{
        background-color:rgba(195, 192, 192, 0.1);
        border-radius: 10px;
        font-size: 1em;
        transition: 0.4s;
    }

}

/*Tablets*/
@media (min-width:481px) and (max-width:1024px) {
    #nav_list{
        display:flex;
        justify-content:space-between;
        list-style: none;
        gap: 100px;
    }
    
    #home{
        margin-right:-5px;
        margin-left:-5px;
        width:50px;
    }
    
    .nav_op{
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
    
    .nav_op:hover{
        background-color:rgba(195, 192, 192, 0.1);
        border-radius: 10px;
        font-size: 1em;
        transition: 0.4s;
    }
}
